Package: com.michael.httpserver
Version: 0.2.1
Section: Utilities
Name: HttpServer
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: preferenceloader, python3
Architecture: iphoneos-arm
Description: Enable local http server on your device, set in Settings app.
